/*--Imports--*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Satisfy&display=swap');

/*--Universal Formatting--*/
h1, h2, h3, h4 {
    font-family:'Satisfy','Times New Roman', Times, sans-serif; 
}
p {
    font-family:'Open Sans',Arial, Helvetica, sans-serif; 
}

/*--Header--*/
header {
    background-color: #006631;
    display: grid;
    width: 100%; 
    grid-template-columns: 33% 33% 33% ;
    justify-items: center;
}
nav {
    justify-items: end;
}
nav a {
    font-family:'Satisfy','Times New Roman', Times, sans-serif; 
    color: #FCDAE1;
    text-align: center;
    text-decoration: none;
    padding: 30px;
    font-size: 20px;
    display: none;
}
.responsive a{
    display: block;
}
nav a:hover {
    background-color: #D5FFC2;
    color: #844872;
}
.ham {
    display: grid;
    text-decoration: none;
    font-size: 2.5em;
    justify-self: end;
    margin: 15px;
}
.logo {
    margin: 10px;
    width: 120px;
    z-index: +1;
    border-radius: 25px;
    align-content: center;
}
#logo_link{   
    padding-top: 5px;
    justify-self: left;
    align-self: center;
    z-index: +1;
    grid-column: 1/2;
}
.logo:hover{
    box-shadow: 0 0 50px #333;
}
.title-box{
    color: #FCDAE1;
    font-size: 1.25em;
    margin: 10px;
    text-align: center;
}


/*--Main Css--*/
.content-1 {
    display: grid;
    width: 100%;
}
.content-2 {
    display: grid;
    width: 100%;
}
.weather-box, .action-box, .time-box, .hero-img, .info-box {
    padding: 10px;
    margin: 10px;
}
.weather-box{
    background-color:#FCDAE1;
    display: grid;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10% 25% 10% 55%;
}
.wtitle1, .wtitle2{
    color:#006631;
    text-align: center;
    grid-column: 1/4;
}
.wtitle1{
    grid-row:1;
}
.current-weather{
    grid-column: 1/4;
    display: grid;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
    border-bottom:5px solid #EFC743;
    font-family:'Open Sans',Arial, Helvetica, sans-serif; 
    color:#006631;
}
.weathericon{
    height: 100%;
}
.weathericon1{
    width: 100%;
}
.wtitle2{
    grid-row:3;
}
.three-days{
    grid-column:1/4;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.forecast{
    background-color:#D5FFC2;
    margin: 10px;
    padding: 10px;
    color:#844872;
}
.action-box{
    background-color:#FCDAE1;
    color:#006631;
    text-align:center;
}
.fresh-btn {
    background-color:#006631;
    position: sticky;
    text-align: center;
    vertical-align: center;
    width: 100px;
    height: 55px;
    top: 230px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fresh-btn:hover{
    background-color:#D5FFC2;
}
.fresh-link{
    font-family:'Open Sans',Arial, Helvetica, sans-serif; 
    color:#FCDAE1;
    text-decoration: none;
}
.fresh-link:hover{
    color:#844872;
}
.action-pic{
    width: 100%;
}
.time-box, .hero-img, .info-box{
    background-color:#D5FFC2;
}
.time-box h2, .time-box h3{
    color:#844872;
    text-align: center;
}
.hero-img{
    justify-content: center;
    vertical-align: middle;
}
.hero{
    width: 100%;
}
.info-box{
    color:#844872;
    text-align: center;
}
/*--Clock Face--*/ 
.clock {
    background: #844872;
    width: 60px;
    height: 60px;
    position: relative;
    padding: 2rem;
    border: 3px solid #422038;
    box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
                  inset 4px 4px 10px rgba(0,0,0,0.5),
                  inset -4px -4px 10px rgba(67,67,67,0.5),
                  4px 4px 10px rgba(0,0,0,0.3);
    border-radius: 50%;
    margin: 10px auto;
}
.outer-clock-face {
    position: relative;
    top: -25%;
    left:-25%;
    background: #844872;
    overflow: hidden;
    width: 150%;
    height: 150%;
    border-radius: 50%;
}
.outer-clock-face::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg)
}
.outer-clock-face::after,
.outer-clock-face::before,
.outer-clock-face .marking{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: #D5FFC2;
    z-index: 0;
    left: 49%;
}
.outer-clock-face .marking {
    background: #FCDAE1;
    width: 3px;
}
.outer-clock-face .marking.marking-one {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg)
}
.outer-clock-face .marking.marking-two {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg)
}
.outer-clock-face .marking.marking-three {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    transform: rotate(120deg)
}
.outer-clock-face .marking.marking-four {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    transform: rotate(150deg)
}
.inner-clock-face {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: #844872;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
}
.inner-clock-face::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    background: #422038;
    z-index: 11;
    border: 2px solid #EFC743;
}
.hand {
    width: 50%;
    right: 50%;
    height: 6px;
    background: #EFC743;
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hand.hour-hand {
    width: 30%;
    z-index: 3;
}
.hand.min-hand {
    height: 3px;
    z-index: 10;
    width: 40%;
}
.hand.second-hand {
    background: #D5FFC2;
    width: 45%;
    height: 2px;
}
/*--Fresh Page--*/
label, input {
    display: block;
    font-size: 1.5em;
}
label {
    margin-top: 20px; 
    font-family:'Satisfy','Times New Roman', Times, sans-serif; 
    color:#844872;
}
select {
    height: 45px;
    font-family:'Open Sans',Arial, Helvetica, sans-serif; 
    color: #844872;
}
input {
    height: 45px;
}
form {
    display: grid;
    justify-items: center;
    background-color: #D5FFC2;
    justify-self: center;
}
.form-title {
    text-align: center;
    font-size: 35px;
    color:#844872;
}
/*--About Page--*/
.content-3{
    display: grid;
    width: 100%;
    align-items: center;
    background-color:#D5FFC2;
}
.interest-img-1, .interest-img-2{
    width: 100%;
}
.contact-block{
    text-align:center;
    align-items: center;
    color:#844872;
    background-color:#D5FFC2
}
.history-block{
    text-align:center;
    color:#844872;
    background-color:#D5FFC2;
}
/*--Footer--*/
footer {
    display: grid;
    background-color: #006631;
    grid-template-rows: 2;
}
.footerElements{
    display:grid; 
    width: 100%; 
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    text-align: center;
    margin: auto;
}
.social{
    margin: 0 auto; 
    padding-top: 55px;
}
.insta-logo, .fb-logo, .twitter-logo{
    width: 60px;
    vertical-align: middle;
    padding: 10px;
}
.contact, .address{
    color: #FCDAE1;
    padding-top: 35px;
}
.ftag {
    font-family:'Open Sans',Arial, Helvetica, sans-serif; 
    color:#FCDAE1;
    border-top: solid #D5FFC2;
    border-width: 1px;
    grid-row: 4;
    text-align: center;
}
